.foot {
  position: relative;
  width: 100%;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  padding: 1em;

}

.foot-text {
  text-align: center;
  font-size: 25px;

}

hr {
  position: relative;
  padding-right:40px; 
}

.social-icons{
  float: left;
  position: relative;
  left: 148px; 
  cursor: pointer;
}

.fab:hover{
  opacity: .6;
} 

@media only screen and (max-width: 480px){
  .foot-text{
    font-size: 15px;
  }
  .social-icons{
    font-size: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    left: 0px;

  }

}

@media (max-width: 1024px){
  .foot-text{
    text-align: center;
    font-size: 20px;

  }
  .social-icons{
    font-size: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    left: 0px;

  }

  .social-icons fa-instagram:hover{
    opacity: .10;
  }
}