.nav-container {
  width: 100%;
  font-family: "Rosarivo", serif;
  
}

.nav {
  font-size: 30px;
  padding-top: 20px;
  max-width: 1720px;
  margin: 0 auto;
  overflow: hidden;
}

.nav-left {
  color: wheat;
  padding: 15px;
  float: left;

}
.nav-right {
  text-align: right;
}

.nav-link {
  padding: 10px 0;
  margin-right: 25px;
  letter-spacing: 0.5px;
  font-weight: 300;
  clear: right;
}
.burger-menu {
  margin-right: 25px;
  width: 20px;
  padding: 10px;
  float: right;
  display: none;
}

#nav-toggle{
  display: none;
}

nav .nav-link:hover,
.nav-left:hover {
  opacity: 0.6;
}

nav .nav-left,
.nav-link {
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 1025px) {
  .nav{
    font-size: 25px;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  .nav-right {
    text-align: right;
    display: none;
    width: 100%;
    border-bottom: 0.5px solid white;
  }
  .nav-right .nav-link {
    text-transform: capitalize;
    display: block;
  }

  #nav-toggle:checked ~ .nav-right {
    display: block;
  }
}
