html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.App {
  background-color: black;
  color: white;
  font-family: "Rosarivo", serif;
  height: 100%;
}

.container {
  animation: transitionIn 0.75s;
  margin-right: 35px;
  margin-left: 35px;
  position: relative;
  padding: 0%;
}
.thumbContainer{
  animation: transitionIn 0.5s;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.back{
  font-size: 20px;
}
.arrow {
  display: inline;
  color: #af3d8b;
  margin-left: 0.5em;
 
}

#breadcrumb {
  color: #af3d8b;
  padding: 0.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  font-size: 30px;
}

.thumb {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
}

.thumbImage {
  position: relative;
}

.thumbImage img {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.fade:hover::after{
  opacity: 0.5;
}

.thumbTitle {
  margin: 0;
  padding: 1em;
  font-size: 30px;
  text-transform: capitalize;
}

.albumphoto {
  animation: transitionIn 0.5s;
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-bottom: 10em;
}

.largePhoto {
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: 20px;
  padding-bottom: 2em; }

@media (min-width: 480px) {
  .thumbContainer .thumb {
    width: 50%;
    margin: 2.5%;
  }
  .thumbImage img {
    height: 550px;
    width: 100%;
  }
}

@media (min-width: 756px) {
  .thumbContainer .thumb {
    width: 45%;
    margin: 1em;
  }
  .thumbImage img{
    height: 580px;
    width: 100%;
  }
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-4rem);
    }

    to {
        opacity: 1;
        transform: none;
    }
}